* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #92ACB5;
  }
  
  .container {    
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    display: block;
    text-decoration: none;
    background-color: #2E5168;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    margin: 20px;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-img {
    width: 100%;
    height: auto;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content h2 {
    margin-bottom: 10px;
    font-size: 1.5em;
    color: aliceblue;
  }
  
  .card-content p {
    color: #555;
  }
  
