body {
    font-weight: bold;
    background-color: #052449;
}   
h1 {
    text-align: center;
    background: #5FBFF9;
    font-weight: bold;
    font-size: 30px;
}
p {
    text-align: center;
    background: #5FBFF9;
    padding-right: 40px;
    padding-left: 40px;
}

main hr {
    height: 2px;
    border: 2px solid rgb(255, 253, 253);
    font-weight: bold;

}
.contenedor{
    font-family: 'Roboto';
    background: #5FBFF9;
    border: 2px solid rgb(254, 254, 254);
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    margin: auto;
    text-align: center;
}

.contenedor2 {
    font-family: 'Roboto';
    background: #5FBFF9;
    border: 2px solid rgb(253, 251, 251);
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    text-align: center;
}

.contenedor3 {
    font-family: 'Roboto';
    background: #5FBFF9;
    border: 2px solid rgb(255, 253, 253);
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    
    
}
.contenedor4{
        font-family: 'Roboto';
        background: #5FBFF9;
        border: 2px solid rgb(254, 252, 252);
        padding-left: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        text-align: center;
}

input {
    padding: 2px;
    border: 2px solid black;
    font-weight: bold;
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 3;
}



section {
    font-weight: bold;
}

footer {
    color: white;
    background-color: #111827;
    text-align: center;
}

nav ul {
    color: white;
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
        gap: 16px;
        /* space-x-4 */
}
img{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}
.mes{
    background: #5FBFF9;
    border: 10px;
    border: 2px solid black;
    
    
}
.contenedor-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Distribución de espacio uniforme */
    flex-grow: 2px;
    align-items: center;
    border: 10px rgb(2, 2, 2);
  }
  
  .item {
    background-color: #cccccc;
    padding: 10px;
    margin: 5px;
    border: 3px black;
  }
  .boton {
    background: #5FBFF9;
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* Distribución de espacio uniforme */
    align-items: center;
    background-color:#5FBFF9;
    padding: 10px;
    margin: 20px;
    border: 1px solid black;
    box-shadow: #2551b1;
  }
  div h2{
    color: white;
    margin: 2px white;
    font-size: 20px;
    border-color: white;
  }