h1, p{
    text-align: center;
    animation: both;
    background: #5FBFF9
}

main hr {
    height: 2px;
    border: 2px solid black;
    font-weight: bold;
}
.contenedor {
    font-family: 'Roboto';
    background: #16BAC5;
    border: 2px solid black;
    display: flex;
    justify-content: center;
}
.contenedor2{
    font-family: 'Roboto';
    background: #16BAC5;
    border: 2px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}
input{
    padding: 2px;
    border: 2px solid black;
    font-weight: bold;

}
body{
    font-weight: bold;
    
}
section{
    font-weight: bold;
}
footer{
    text-align: center;
}
